/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/

/*	Column width
-------------------------------------------------------*/ 

@mixin columns($columns, $omega:false) {

    float: left;
    width: column($columns);

      @if $omega == omega {
		padding: 0;
         // margin-right: 0;

      }

      @else {
		padding: 0 $gutter-width;
         // margin-right: percentage($gutter-width, $grid-width);

      }
  
}

/*	Column push
-------------------------------------------------------*/
@mixin push($columns) {

    $margin: column($columns) + percentage($gutter-width, $grid-width);
    margin-left: $margin;

}


/*	Clearfix
-------------------------------------------------------*/ 

@mixin clearfix() {

	&:before,
	&:after {

	    content: "";
	    display: table;

	}
	
	&:after {

	    clear: both;

	}

}

/*	Breakpoints
-------------------------------------------------------*/ 

@mixin break-at($point) {

	 @media screen and (min-width: $point) {

			@content;

	}

}