/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

$base-font-size : 16px;

/*	Grid
--------------------------------------------------------*/

$grid-width: 1000px;

$columns: 12 !default;
$column-width: 65px !default;
$gutter-width: 10px !default;

// Basic or Advanced usage
$advanced-usage: false !default;


/* Breakpoints */
$medium-break: 41.8125em; 
$large-break: 64.0625em;  

/*	Colors
--------------------------------------------------------*/

$primary-color: #ff9c08 !default;
$secondary-color: #444444 !default;


/* Panels 
--------------------------------------------------------*/

$panel-color: #efefef;
$panel-padding: 15px;
